
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex: 10 1 auto;
}
html {height: 100%;overflow: hidden;}
body {
    font-size: small;
    font-family: Segoe UI, Arial;
    color: #333333;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}
input {
    border: 0;
    border-radius: .1em;
    padding: .5em;
    margin-right: 1em;
}
button {
    background: #68C;
    color: #fff;
    font-weight: bold;
    border-radius: .1em;
    border: 1px solid #57B;
    padding: .5em;
}
/*----------------*/
#login {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: alias;
  background-color: #eee;
  width: 50%;
  height: 50%;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: .2em;
  transition: 224ms ease-out;
  transition-property: transform;
  transform: translateY(-200%);
  display: flex;
  align-items: center;
}
#login>#loginForm {
    display: flex;
    align-items: center;
}
#login.isVisible {
  transform: translateY(0);
}
/*----------------*/
#chat {
  display: none;
}
#chat.isVisible {
  box-shadow: .0em .0em .3em #aaa;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  align-self: flex-end;
}
#clients {
    background: #eee;
    /* box-shadow: .0em .0em .3em #aaa; */
    padding: 3px;
    position: static;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-content: stretch;
}
.client {
    flex: 0 1 auto;
    background-color: #fff;
    /* border: 1px solid #eee; */
    border-radius: .1em;
    border-top: .6em solid;
    padding: .4em .9em;
    margin: .1em;
    display: inline-block;
    list-style-type: none;
    align-items: flex-start;
    text-align: center;
}
#chat form {
    background: #eee;
    /* box-shadow: .0em .0em .3em #aaa; */
    padding: 3px;
    bottom: 0;
    flex: 0 1 auto;
    display: flex;
    flex-flow: row nowrap;
}
#chat form #name {
    flex: 1 0 auto;
    padding: .0em .9em;
    margin: 0 .5em;
    border-radius: .1em;
    border-top: .6em solid;
    text-align: center;
}
#chat form #entry {
    flex: 2 1 80%;
    width: 90%;
    margin-right: .5%;
}
#chat form #send {
    flex: 1 1 10%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 2em;
    flex: 1 0 auto;
    width: 100%;
}
#messages li {
    padding: 5px 10px;
    border-bottom: 1px solid #fafafa;
}
#messages li:nth-child(even) {
    background: #fafafa;
}
